[user]
	email = igamerryt@gmail.com
	name = urizennnn
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[http]
	postBuffer = 1048576000
