# Ignore node_modules
node_modules/

# Ignore logs
logs/
*.log
__pycache__/

# Ignore OS generated ***REMOVED***les
.DS_Store
Thumbs.db

# Ignore environment variables
.env

# Ignore build directories
dist/
build/
/target

# Ignore dependency directories
vendor/

# Ignore IDE speci***REMOVED***c ***REMOVED***les
.vscode/
.idea/

# Ignore compiled ***REMOVED***les
*.out
*.class
*.o

# Ignore temporary ***REMOVED***les
*.tmp
*.swp
*~

# Ignore Sessions
*.session
*.jpg

# Ignore venv
myenv/
venv/
nushell/.con***REMOVED***g/nushell/history.txt
